@charset "utf-8";
/* CSS Document */
#EstiloPaginainicial
{
	background:#333;
}
#DivTituloRoperos
{
	background:#C33;
}
#DivTituloTocadores
{
	background:#0C6;
}
#DivTituloAlacenas
{
	background:#C60;
}
#DivTituloCajoneras
{
	background:#C30;
}
#DivFondoProductos
{
	background:#FFF;
}
#DivMenudeMueblesMadera
{
	background:#333;
}

